/* first section css */


body{
    padding: o;
    margin: 0;
    font-family: sans-serif;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-top: 10px;
  
}
.link-button {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient( lightsalmon, tomato);
    font-weight: 700;
    margin-left: 30px;
    margin-top: 30px;
}


/*second section css*/

.half-width2{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}

.half-width2 img {
    width: 100%;
}
.left-banner{
   background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
   background-position: right;
   background-size: 70px ;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    background-color: white;
  
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: left;
}
    .bold{
      
        text-align:center;
    }

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;

}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}  


footer p{
    text-align: center;
    font-size: 13px;
}